{{ partial "header.html" . }}

<link href="/pagefind/pagefind-ui.css" rel="stylesheet">

<div class="container">
    <article class="post-container">
        <header class="post-header">
            <h1 class="post-title">{{ .Title }}</h1>
            {{ if .Description }}
                <p class="post-description">{{ .Description }}</p>
            {{ end }}
        </header>

        <div class="post-content">
            <div id="search"></div>
        </div>
    </article>
</div>

<script src="/pagefind/pagefind-ui.js"></script>
<script>
    window.addEventListener('DOMContentLoaded', function() {
        new PagefindUI({ element: "#search", showSubResults: true });
    });
</script>

{{ partial "footer.html" . }}
