{{ partial "header.html" . }}

<div id="post-index" class="container">
    <header class="post-header taxonomy-header">
        <h1 class="post-title" itemprop="name">
            Articles tagged &ldquo;{{ .Title }}&rdquo;
        </h1>
        <p class="taxonomy-meta">
            {{ len .Pages }} article{{ if gt (len .Pages) 1 }}s{{ end }}
        </p>
        {{ with .Description }}
        <p class="taxonomy-description">{{ . }}</p>
        {{ end }}
    </header>

    <ol class="post-list tag-list">
        {{ $pag := .Paginate .Pages }}
        {{ range $pag.Pages }}
            {{ partial "post-stub.html" . }}
        {{ end }}
    </ol>

    <div class="post-navigation tag-navigation">
        {{ partial "tag-pagination.html" . }}
    </div>
</div>

{{ partial "footer.html" . }}
