{{- $author := dict
  "@type" "Person"
  "name" .Site.Params.Author.name
  "url" .Site.BaseURL
  "jobTitle" "Senior Python Consultant"
  "sameAs" (slice
    "https://github.com/matrixise"
    "https://www.linkedin.com/in/stephanewirtel/"
    "https://mgx.io/"
  )
-}}
{{- $publisher := dict
  "@type" "Organization"
  "name" "Mgx.io SRL"
  "url" "https://mgx.io/"
-}}
{{- $lang := or .Params.language "en" -}}
{{- $data := dict
  "@context" "https://schema.org"
  "@type" "BlogPosting"
  "headline" (.Title | markdownify | plainify)
  "description" (or .Description (.Summary | plainify | truncate 160))
  "url" .Permalink
  "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
  "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
  "wordCount" .WordCount
  "inLanguage" $lang
  "author" $author
  "publisher" $publisher
  "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
-}}
{{- with .Params.tags -}}
  {{- $data = merge $data (dict "keywords" (delimit . ", ")) -}}
{{- end -}}
{{- $img := "" -}}
{{- with .Resources.GetMatch "cover*" -}}{{- $img = .Permalink -}}{{- end -}}
{{- if not $img -}}
  {{- with .Params.image -}}
    {{- with $.Resources.GetMatch . -}}
      {{- $img = .Permalink -}}
    {{- else -}}
      {{- $img = (. | absURL) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- with $img -}}
  {{- $data = merge $data (dict "image" $img) -}}
{{- end -}}
{{- $json := $data | jsonify (dict "indent" "  ") -}}
{{- printf "<script type=\"application/ld+json\">%s</script>" $json | safeHTML }}
