{{- $desc := "" -}}
{{- with .Description -}}
  {{- $desc = . -}}
{{- else -}}
  {{- if .IsPage -}}
    {{- $desc = .Summary | plainify | truncate 200 -}}
  {{- else -}}
    {{- with .Site.Params.description -}}{{- $desc = . -}}{{- end -}}
  {{- end -}}
{{- end -}}
{{- $lang := or .Params.language "en" -}}
{{- $locale := cond (eq $lang "fr") "fr_FR" "en_US" -}}
<meta property="og:locale" content="{{ $locale }}" />
{{ with resources.Get "logo.png" }} {{ $logo512 := .Resize "512x512" }}
<meta property="og:logo" content="{{ $logo512.Permalink }}" />
{{ end }}
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ $desc }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
{{ with .Site.Params.site_name }}<meta property="og:site_name" content="{{ . }}" />{{ end }}
<meta property="og:url" content="{{ .Permalink }}" />
{{- $img := "" -}}
{{- with .Resources.GetMatch "cover*" -}}{{- $img = .Permalink -}}{{- end -}}
{{- if and (not $img) .Params.image -}}{{- $img = (.Params.image | absURL) -}}{{- end -}}
{{- if $img }}
<meta property="og:image" content="{{ $img }}" />
<meta property="og:image:secure_url" content="{{ $img }}" />
{{- else -}}
{{- $parentScope := . -}}{{- with .Params.images -}}{{- range first 6 . -}}
{{- $url := delimit (slice $parentScope.Permalink .) "/" | absURL }}
<meta property="og:image" content="{{ $url }}" />
<meta property="og:image:secure_url" content="{{ $url }}" />
{{- end -}}{{- else -}}
{{- with resources.Get "logo.png" -}}{{- $logo512 := .Resize "512x512" }}
<meta property="og:image" content="{{ $logo512.Permalink }}" />
<meta property="og:image:secure_url" content="{{ $logo512.Permalink }}" />
{{- end -}}
{{- end -}}
{{- end }}
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ $desc }}" />
