<meta property="og:locale" content="en_US" />
<meta property="og:title" content="{{ .Title }}" />
<meta
    property="og:description"
    content="{{ with .Description }}{{ . }}{{ else }}{{ if .IsPage }}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}"
/>
<meta
    property="og:type"
    content="{{ if .IsPage }}article{{ else }}website{{ end }}"
/>
{{ with .Site.Params.site_name }}<meta
    property="og:site_name"
    content="{{ . }}"
/>{{ end }}
<meta property="og:url" content="{{ .Permalink }}" />
{{ $parentScope := . }} {{- with .Params.images }} {{- range first 6 . }} {{
$url := delimit (slice $parentScope.Permalink .) "/" | absURL }}
<meta property="og:image" content="{{ $url }}" />
<meta property="og:image:secure_url" content="{{ $url }}" />
{{- end }} {{- end }}
