Jinja2==2.11.3
Markdown==3.3.4
MarkupSafe==1.1.1
PyYAML==5.4.1
boto3==1.17.39
botocore==1.20.39
certifi==2020.12.5
chardet==4.0.0
idna==2.10
jmespath==0.10.0
pendulum==2.1.2
pydantic-yaml==0.2.3
pydantic==1.8.1
python-dateutil==2.8.1
python-frontmatter==1.0.0
pytzdata==2020.1
requests==2.25.1
s3transfer==0.3.6
six==1.15.0
typing-extensions==3.7.4.3
urllib3==1.26.4
