{{ partial "header.html" . }}

<div id="post-index" class="container">
    <header class="post-header taxonomy-header">
        <h1 class="post-title" itemprop="name">{{ .Title }}</h1>
        {{ with .Description }}
        <p class="taxonomy-description">{{ . }}</p>
        {{ end }}
    </header>

    <div class="tag-cloud">
        {{ $tags := .Data.Terms.Alphabetical }}
        {{ range $tags }}
        <a class="tag-cloud-item" href="{{ .Page.Permalink }}" title="{{ .Count }} article{{ if gt .Count 1 }}s{{ end }}">
            {{ .Page.Title }}
            <span class="tag-cloud-count">{{ .Count }}</span>
        </a>
        {{ end }}
    </div>
</div>

{{ partial "footer.html" . }}
