---
name: Build CV
on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build-cv:
    name: Build CV
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Set up Python 3.13
        uses: actions/setup-python@v6.1.0
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip uv
          python -m uv pip install -r scripts/requirements.txt

      - name: Generate StephaneWirtel.tex
        run: |
          python scripts/generate-cv.py templates/TemplateCV.tex StephaneWirtel.tex

      - name: Build PDF
        uses: xu-cheng/latex-action@v4
        with:
          root_file: StephaneWirtel.tex

      - name: Deploy to AWS
        if: >
          (
            github.repository == 'matrixise/www.wirtel.be' &&
            github.ref == 'refs/heads/main'
          )
        env:
          AWS_ACCESS_KEY_ID: "${{ secrets.AWS_ACCESS_KEY_ID }}"
          AWS_SECRET_ACCESS_KEY: "${{ secrets.AWS_SECRET_ACCESS_KEY }}"
        run: |
          bash scripts/deploy.sh
